<!DOCTYPE html>
<html>
  <body>
    <form accept-charset="TF-8" method="get" action="/users/new">
      Email: <input type="text" name="email"><br>
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
